.Navbar {
  text-align: center;
  color: white;
  padding: 20;

}

body {
  background-color: #090A0E;
  color: white
}
.max-center {
  max-width: 1000px;
  margin-left:auto;
  margin-right: auto;
}


.header-content {
  display:flex ;
  justify-content: space-between;
  align-items: center;
}


.container {
 
  padding: 15px;

  background-color: #0F1014;


display: grid;
gap: 15px;
grid-template-columns: 1fr 1fr 1fr 1fr;

}

.movie-cover {
width: 100%;
}

.movie-placeholder{
  min-height: 350px;
  background-color:white ;
  color: #090A0E;
  display: flex;
  justify-content:center ;
  align-items: center;
  font-size: larger;
  font-weight: bold;

}

.hero {
  position: relative;
min-height: 500px;
background-position: top center;
background-size: cover;
display: flex;
align-items: flex-end ;
}


.hero-content {
  max-width: 70%;
  padding-bottom: 50px;
}

.hero-title {
  font-size: 72px;
  margin: 0;
  opacity: .5;

}

.button {
 background-color: black ; 
 color: white;
 outline: none;
 border: 1px solid white;
 padding: 10px 15px;
 cursor: pointer;
}

.form {
  padding:  10px 15 px;
  font-display: top;
  justify-content: center;
}

/* .button--close {
  position: absolute;
  z-index: 10;
  bottom: 30px;
  left: 30px;
} */

.youtube-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
}

.youtube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.App {
 
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
  

}

.header {
  display: flex;
  justify-content: center;
  color: white;
  
  
  
}

.headerlink-title {
  color: white;
  text-decoration: none;
  padding: 0 5px;
}

.headerlink-dot {
  margin-top: -0.5rem;
  opacity: 0;
  transition: opacity 200ms linear;
}

.headerlink-title:hover .headerlink-dot {
  opacity: 1;
}

.headerlink-dot-active {
  margin-top: -0.5rem;
  display: block;
}

.headerlink-no-link {
  pointer-events: none;
}


.link {
  background-color: #090A0E;
  color: white
}

.footer {
 padding: 20;
 border-style: ridge;
 font-size: larger;
 font-weight: bolder;
}

ul.no-bullets {
  list-style-type: none;
  font-size: large;
}
ul li:hover {
  background-color: #f0f0f0;
  color: #333;
}
